@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: rgb(251, 251, 245);
    color: black;
    font-size: 0.9rem;
}

.wrapper {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    padding: 16 16;
}




a {
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
}


#header {
     height: 80px;
     width: 100%;
    
}
#header .logo {
    width: 120px;
    line-height: 1px;
    margin-right: 60px;
    object-fit: contain;
    /*親要素の大きさに合わせて中身が拡大する。
    containは全体が拡大。画像全部が見えるように比率を保ったまま。rogo
    敬はcontain*/

}
#header .logo  img {
    display: block;
    width: 100%;
    height: auto;
}
#header .inner-wrapper  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    
}

#header  nav ul{
    display: flex;
    list-style: none;
    gap: 30px;

}
#header .inner li:last-child {
    margin-right: 0px;
}

#header .inquiry {
    width: 160px;
    height: 80px;
    line-height: 80px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;

}

#header .inquiry:hover {
    opacity: 0.7;
}




@media screen and (max-width: 900px) {
    #header .inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .inquiry {
        display: none;
    }
}

/*スマホの画面幅*/

#mainvisual img {
    margin-bottom: 100px;
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;

}

#NEWS {
    margin-bottom: 200px;

}
.section-title .en{
    font-size: 30px;
    letter-spacing: 16px;
    margin-bottom: 16px;
}
.section-title .ja{
font-size: 20px;
}
#NEWS .list {
    display: flex;
    justify-content: space-between;
    
}

#NEWS .list li {
    width: calc(100%/3);
    border-right: solid 1px color(black);
    padding: 10px 20px;


}

#NEWS .list li:first-child {
    
    border-left: none;
}

#NEWS .list li:last-child {
    border-right: none;
    
}


#NEWS .list li .date-area {
    margin-bottom: 25px;
    font-size: 10px;
}

#NEWS .list li .date-area span {

    width: 40px;
    height: 20px;
    line-height: 20px;
    background: color(black);
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 900px) {

    #NEWS{
        margin-bottom: 80px;
    }
    #NEWS .list {
       
        flex-direction: column;
        
    }

    #NEWS .list li {
        width: 100%;
        border-right: none;
        padding: 10px 0;
        margin-bottom: 20px;

    }

    #NEWS .list li :last-child {
        margin-bottom: 0;
    }
}

#ABOUT {
    display: flex;
    margin-bottom: 120px;
}

#ABOUT img {
    margin-bottom: 30px;
    width: 800px;
    height: 400pxs;
    margin-left: 0%;
    object-fit: cover;
}

#ABOUT .text {
    padding: 180px 60px 0px 60px;
}

#ABOUT .text p {
    line-height: 20px;
}

@media screen and (max-width: 900px){
  #ABOUT {
        flex-direction: column;
        margin-bottom: 80px;
    }  
    #ABOUT .img{
        width: 100%;
        margin-bottom: 30px;
    
    }
    #ABOUT .img img{
        height: 300px;
    }
    #ABOUT .text{
        width: 100%;
        padding: 0 16px;
    }


}
    
#Business {
    margin-bottom: 200px;
}

#BUSINESS .flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0% 10%;
    gap: 50px;
}

#BUSINESS .flex .item{
 width: auto;
 height: auto;   

}
#BUSINESS .flex .item:nth-child(even){
align-self : flex-end;}

#BUSINESS.flex .title::before {
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 50%;
    left: -18px;
}



#BUSINESS .flex .title {
    font-size: 16px;
    margin: 0 0 16 10;
    font-weight: bold;
    position: relative;
}

#BUSINESS .flex .title img {
    

}

#Business .flex .item {
    margin-bottom: 60px;
}


    i #footer .information2 {
        flex-direction: column;
        align-items: flex-start;

    }











#COMPANY {
    height: 750px;
    display: flex;
    align-items: center;
    padding: 100px auto 100px 50px;
    position: relative;

}

#COMPANY .text {
    width: 40%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

#COMPANY .img {
    width: 48%;
    position: absolute;
    top: 100px;
    height: 500px;



}

#COMPANY .information1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#COMPANY .information1 dt {
    margin-top: 0;
    width: 20px;

}

#COMPANY .information1 dd {
    width: 80%;
    margin-top: 0;

}

#footer {
    margin-bottom: 20px;
    background-color: #fff;
}

#footer .information2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50 0;

}


#footer .information2 .logo {
    line-height: 1px;
}

#footer .information2 p small {
    font-size: 0.25rem;
    color: rgb(44, 44, 44);
}