@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    background-color: rgb(251, 251, 245);
    color: black;
    font-size: 0.9rem;
}

.wrapper {
    width: 100%;
    max-width: 1032px;
    margin: 0 auto;
    padding: 16 16;
}




a {
    color: black;
    font-size: 0.9rem;
    text-decoration: none;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

#header .inner-wrapper {
    display: flex;
    align-items: center;

}

.logo {
    width: 100%;
    line-height: 1px;
    margin-right: 60px;
    object-fit: contain;/*親要素の大きさに合わせて中身が拡大する。
    containは全体が拡大。画像全部が見えるように比率を保ったまま。rogo
    敬はcontain*/
    
}

#header .inner ul {
    display: flex;
    align-items: center;
}

#header .inner li {
    margin-right: 30px;

}

#header .inner li:last-child {
    margin-right: 0px;
}

#header .inquiry {
    width: 240px;
    height: 80px;
    line-height: 80px;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 0.9rem;

}

#header .inquiry:hover {
    opacity: 0.7;
}

@media screen and (max-width: 900px) {
    #header .inner{
        flex-direction: column;
        align-items: flex-start;
    }
    .inquiry {
        display: none;
    }
}

/*スマホの画面幅*/
#mainvisual img {
    margin-bottom: 200px;
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;

}

#NEWS {
    margin-bottom: 200px;

}

#NEWS .list {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    
    #NEWS .list {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    #NEWS .list li{
        width: 100%;
        border-right: none;
        padding: 10 0;
        margin-bottom: 20px;

    }
    #NEWS .list li :last-child{
    margin-bottom: 0;
    }
    #ABOUT{
        flex-direction: column;
        margin-bottom: 80px;
    }i
#footer .information2{
    flex-direction: column;
        align-items: flex-start;

}
}
#NEWS .list li {
    width: calc(100%/3);
    border-right: solid 1px color(black);
    padding: 20px 20px;


}

#NEWS .list li:first-child {
    padding-left: none;
    border-left: none;
}

#NEWS .list li:last-child {
    border-right: none;
    padding-right: none;
}

#NEWS .list li .date-area {
    margin-bottom: 16px;
    font-size: 10px;
}

#NEWS .list li .date-area span {
    width: 40px;
    height: 15px;
    background: color(black);
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    align-items: center;
}

#ABOUT {
    display: flex;
    margin-bottom: 120px;
}

#About img {
    margin-bottom: 30px;
    width: 100%;
    height: calc(100vh - 80px);
    margin-left: 0%;
    object-fit: cover;
}

#About .text {
    padding: 180px 60px 0px 60px;
}

#About .text p {
    line-height: 20px;
}

#Business {
    margin-bottom: 200px;
}

.Business-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 10%;
}

#Business-list .left {
    width: 48%;
    margin-top: 150px;
    margin-bottom: 0;

}

#Business-list .right {
    width: 48%;
    margin-top: 70px;
}

#Business-list .title {
    font-size: 16px;
    margin: 0 0 16 10;
    font-weight: bold;
    position: relative;
}

#Business-list .title img {
    width: auto;
    height: auto;

}

#Business-list .item {
    margin-bottom: 60px;
}

#Business-list .title::before {
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 50%;
    left: -18px;

}
#COMPANY{
    height: 750px;
    display: flex;
    align-items: center;
    padding: 100px auto 100px 50px;
position: relative;

}
#COMPANY .text{
    width: 40%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}

#COMPANY .img{
    width: 48%;
    position: absolute;
    top: 100px;
    height: 500px;
    


}
#COMPANY .information1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#COMPANY .information1 dt{
    margin-top: 0;
    width: 20px;

}
#COMPANY .information1 dd{
    width: 80%;
    margin-top: 0;

}
#footer{
    margin-bottom: 20px;
    background-color: #fff
    ;
}
#footer .information2{
display: flex;
justify-content: space-between;
align-items: center;
padding: 50 0;

}


#footer .information2 .logo{
    line-height: 1px;
}
#footer .information2 p small{
    font-size: 0.25rem;
    color: rgb(44, 44, 44);
}



